<html>
  <head>
    <link href="slideshow.css" rel="stylesheet" media="screen"/>
  </head>
  <body>
  
    <div class="presentation">
        <style>
	section {   background-color: red; }
	canvas {   background-color: blue; }
	span {   background-color: yellow; }
	</style>

        <div class="slide" id="poll">
	
	    <h1>POLL</h1>
	    <h2>SHOULD ALLOW TO SELECT AN ANSWER</h2>
	    
            <section>
	    
              <div>
	        <div class="poll_question">Connaissez Vous ... ?</div>
                <input class="poll_radio" type="radio" id="poll_radio_1" name="group_1"> <label for="poll_radio_1">Oui</label>
                <input class="poll_radio" type="radio" id="poll_radio_2" name="group_1"> <label for="poll_radio_2">Non</label>
	      </div>

	     <div>
	       <div class="poll_question">Connaissez Vous ... ?<div>
               <input class="poll_radio" type="radio" id="poll_radio_3" name="group_2"> <label for="poll_radio_3">Oui</label>
               <input class="poll_radio" type="radio" id="poll_radio_4" name="group_2"> <label for="poll_radio_4">Non</label>
	     </div>
	     
           </section>	

            <section class="validate">
	    
	      <input type="button" value="VALIDER">
	      
	    </section>	
	    
        </div> 

        <div class="slide" id="poll_result">

            <h1>POLL</h1>
            <h2>SHOULD DISPLAY POLL RESULTS</h2>

            <section>

		<div>
		  <div class="poll_question">Connaissez Vous ... ?</div>
		  <div><span class="poll_response">Oui</span> <span class="poll_response_rate">(60%)</span></div>
		  <div><span class="poll_response">Non</span> <span class="poll_response_rate">(40%)</span></div>
		</div>
		
		<div>
		  <div class="poll_question">Connaissez Vous ... ?</div>
		  <div><span class="poll_response">Oui</span> <span class="poll_response_rate">(30%)</span></div>
		  <div><span class="poll_response">Non</span> <span class="poll_response_rate">(70%)</span></div>
		</div>
		
            </section>
	    
        </div>

        <div class="slide" id="canevas">

	  <h1>CANEVAS</h1>
	  <h2>SHOULD DISPLAY A CANVAS (300x300)</h2>

	  <section>
	  
            <canvas id="canvas" width="300" height="300"></canvas>
	    
	  </section>

        </div>

        <div class="slide" id="centered_title">
	
            <h1>SECTION CONTENT</h1>
	    <h2>SHOULD CENTER SECTION CONTENT</h2>
	    
	    <section class='centered'>
	    SECTION CONTENT
	    </section>
	    
        </div>

        <div class="slide" id="very_long_text">
	
	  <h1>LONG SLIDE</h1>
	  <h2>SHOULD SHOW A SCROLLBAR</h2>
	
            <section>
	    
            VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  
	    VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  
	    VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  
	    VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  
	    VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  
            VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  
	    VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  
	    VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  
	    VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  
	    VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  
            VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  
	    VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  
	    VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  
	    VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  
	    VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  
            VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  
	    VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  
	    VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  
	    VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  
	    VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  
            VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  
	    VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  
	    VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  
	    VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  
	    VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  
            VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  
	    VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  
	    VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  
	    VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  
	    VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT,  VERY LONG TEXT. 	    
	    
            </section>
	    
        </div>
	
        <div class="slide" id="very_long_sentence_twice">
	
	  <h1>LONG SENTENCE SECTION</h1>
	  <h2>SHOULD CENTER and ADAPT SIZE</h2>
	
            <section class='centered'>
	    
            VERY LONG SENTENCE, VERY LONG SENTENCE, VERY LONG SENTENCE, VERY LONG SENTENCE, VERY LONG SENTENCE, VERY LONG SENTENCE. 
	      
            </section>

            <section class='centered'>
	    
            VERY LONG SENTENCE, VERY LONG SENTENCE, VERY LONG SENTENCE, VERY LONG SENTENCE, VERY LONG SENTENCE, VERY LONG SENTENCE, VERY LONG SENTENCE, VERY LONG SENTENCE. 
	      
            </section>
	    
        </div>

        <div class="slide" id="star_rating">
	
            <h1>RATING</h1>
            <h2>SHOULD ALLOW STAR RATING</h2>

	    <section class='evaluate'>
	    	      
              <span class="rating">
                <input type="radio" class="rating-input" id="rating-input-1-5" name="rating-input-1">
                  <label for="rating-input-1-5" class="rating-star">&#9733</label>
                <input type="radio" class="rating-input" id="rating-input-1-4" name="rating-input-1">
                  <label for="rating-input-1-4" class="rating-star">&#9733</label>
	        <input type="radio" class="rating-input" id="rating-input-1-3" name="rating-input-1">
                  <label for="rating-input-1-3" class="rating-star">&#9733</label>
                <input type="radio" class="rating-input" id="rating-input-1-2" name="rating-input-1">
                  <label for="rating-input-1-2" class="rating-star">&#9733</label>
                <input type="radio" class="rating-input" id="rating-input-1-1" name="rating-input-1">
                  <label for="rating-input-1-1" class="rating-star">&#9733</label>
              </span>	      
	      
            </section>	    

        </div>

        <div class="slide" id="bullet_points">
	
            <h1>BULLET POINTS</h1>
            <h2>HOULD DISPLAY BULLET POINTS</h2>

            <section>
	    
            TEXTE/POINT LIST
	      
            </section>

        </div>
	
       <div class="slide" id="exercise">

            <h1>EXERCISE</h1>
            <h2>SHOULD DISPLAY A FORM EXERCISE</h2>
	
            <section>

		<div>
		  COMBIEN FONT 9 X 5 ?
                  <input type="text" id="response_1">
		</div>
		<br/>
		
	        <div>
		 COMBIEN FONT 9 X 7 ?
                 <input type="text" id="response_2">
               </div>
	       <br/>
		
               <div>
		  COMBIEN FONT 9 X 9 ?
                  <input type="text" id="response_2">
                </div>
		<br/>
		
            </section>
	    
            <section class="validate">
	    
	      <input type="button" value="VALIDER">
	      
	    </section>		    
	    
        </div>	

        <div class="slide" id="coding">

            <h1>CODING EXERCISE</h1>
            <h2>SHOULD DISPLAY A CODE EXECUTION SLIDE</h2>
	    
	    <section class="code">
	    
            <textarea class="code" id="input">puts "print something in ruby"</textarea>

	    <input type="button" onclick="viewOutput()" value="EXECUTE">

            <textarea class="code_result" id="output">print something in ruby</textarea>	    
	    
	    </section>
	
        </div>


      </div> <!--presentation-->

    <script src="slideshow.js"></script>
    
  </body>
</html>
