<html>
  <head>
    <link href="slideshow.css" rel="stylesheet" media="screen"/>
    <meta name='viewport' content='user-scalable=no,width=device-width' />
    <meta charset="utf8">
  </head>
  <body>
  
    <div class="presentation">

        <div class="slide" id="centered_title">
	
            <section class='centered' >
	    
              <h3>INTRODUCTION AU CLOUD COMPUTING, VECTEUR DE L'INNOVATION</h3>
              <h3>POUR INTERAGIR AVEC LA PRESENTATION, CONNECTEZ VOUS SUR :</h3>
	      <h4>http://itarc-cloud-intro.herokuapp.com/attendees</h4>
	      <h3>Actuellement : 0 connexion</h3>
	    
            </section>
	    
        </div>

        <div class="slide">
	
            <h1>INTRODUCTION AU CLOUD COMPUTING</h1>
            <h2>SONDAGE</h2>
	    
            <section>

		  <div>
		    <div class="poll_question">Etes vous déjà familier avec le "cloud computing" ?</div>
                    <input class="poll_radio" type="radio" id="poll_response_1_to_question_1" name="group_1" onclick="Slide.prototype.savePoll(this.id)"> <label for="poll_response_1_to_question_1">Oui</label>
                    <input class="poll_radio" type="radio" id="poll_response_2_to_question_1" name="group_1" onclick="Slide.prototype.savePoll(this.id)"> <label for="poll_response_2_to_question_1">Non</label>
		  </div>
		  </br>
		  <div>
		    <div class="poll_question">Etes vous dans le domaine informatique ?</div>
                    <input class="poll_radio" type="radio" id="poll_response_3_to_question_2" name="group_2" onclick="Slide.prototype.savePoll(this.id)"> <label for="poll_response_3_to_question_2">Oui</label>
                    <input class="poll_radio" type="radio" id="poll_response_4_to_question_2" name="group_2" onclick="Slide.prototype.savePoll(this.id)"> <label for="poll_response_4_to_question_2">Non</label>
		  </div>		  

            </section>

        </div>
	
        <div class="slide">

          <h1>INTRODUCTION AU CLOUD COMPUTING</h1>
	  <h2>RESULTAT DU SONDAGE</h2>

            <section>

		  <div>
		    <div class="poll_question">Etes vous déjà familier avec le "cloud computing" ?</div>
		    <div><span class="poll_response">Oui</span> <span id="poll_response_1_rate_to_question_1" class="poll_response_rate">()</span></div>
		    <div><span class="poll_response">Non</span> <span id="poll_response_2_rate_to_question_1" class="poll_response_rate">()</span>
                  </div>	
		  </br>
		  <div>
		    <div class="poll_question">Etes vous dans le domaine informatique ?</div>
		    <div><span class="poll_response">Oui</span> <span id="poll_response_3_rate_to_question_2" class="poll_response_rate">()</span></div>
		    <div><span class="poll_response">Non</span> <span id="poll_response_4_rate_to_question_2" class="poll_response_rate">()</span>
                  </div>	

            </section>
	
      </div>
      
      <div class="slide">

        <h1>INTRODUCTION AU CLOUD COMPUTING</h1>
        <h2>HISTOIRE DE L'INFORMATIQUE</h2>
	
	<section class='evaluate'>
              <span class="rating">
                <input type="radio" class="rating-input" id="rating-input-1-5" name="rating-input-1">
                  <label for="rating-input-1-5" class="rating-star">&#9733</label>
                <input type="radio" class="rating-input" id="rating-input-1-4" name="rating-input-1">
                  <label for="rating-input-1-4" class="rating-star">&#9733</label>
	        <input type="radio" class="rating-input" id="rating-input-1-3" name="rating-input-1">
                  <label for="rating-input-1-3" class="rating-star">&#9733</label>
                <input type="radio" class="rating-input" id="rating-input-1-2" name="rating-input-1">
                  <label for="rating-input-1-2" class="rating-star">&#9733</label>
                <input type="radio" class="rating-input" id="rating-input-1-1" name="rating-input-1">
                  <label for="rating-input-1-1" class="rating-star">&#9733</label>
              </span>	
	</section>
	
	<section>
	<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/IBM_701_frame.jpg/800px-IBM_701_frame.jpg" width="100%">
	</section>

      </div>
      
      <div class="slide">

        <h1>INTRODUCTION AU CLOUD COMPUTING</h1>
        <h2>HISTOIRE DE L'INFORMATIQUE</h2>
	
	<section class='evaluate'>
              <span class="rating">
                <input type="radio" class="rating-input" id="rating-input-1-5" name="rating-input-1">
                  <label for="rating-input-1-5" class="rating-star">&#9733</label>
                <input type="radio" class="rating-input" id="rating-input-1-4" name="rating-input-1">
                  <label for="rating-input-1-4" class="rating-star">&#9733</label>
	        <input type="radio" class="rating-input" id="rating-input-1-3" name="rating-input-1">
                  <label for="rating-input-1-3" class="rating-star">&#9733</label>
                <input type="radio" class="rating-input" id="rating-input-1-2" name="rating-input-1">
                  <label for="rating-input-1-2" class="rating-star">&#9733</label>
                <input type="radio" class="rating-input" id="rating-input-1-1" name="rating-input-1">
                  <label for="rating-input-1-1" class="rating-star">&#9733</label>
              </span>	
	</section>
	
	<section>
	<img src="http://upload.wikimedia.org/wikipedia/commons/6/6d/Inside_Z9_2094.jpg" width="100%">
	</section>

      </div>      
      
      <div class="slide">

        <h1>INTRODUCTION AU CLOUD COMPUTING</h1>
        <h2>VISITE D'UN DATACENTER</h2>
	<section>
	  <video id="video" style='margin-left: 5%; background-color: none; width: 90%; height:80% ' src="https://s3-eu-west-1.amazonaws.com/itarc/videos/GoogleDataCenter.mp4" controls></video>
	  <!--iframe width="90%" height="80%" src="//www.youtube.com/embed/avP5d16wEp0?feature=player_detailpage" frameborder="0" allowfullscreen></iframe-->
	</section>

      </div>      

      <div class="slide">

        <h1>INTRODUCTION AU CLOUD COMPUTING</h1>
        <h2>VUE SCHEMATIQUE DU DATACENTER</h2>

        <section>
          <!--object data="https://s3-eu-west-1.amazonaws.com/itarc/images/GoogleDataCenterInfrastructure.svg" width="100%" height="100%" type="image/svg+xml"></object-->
	  <!--svg id="sir" height="50%" width="100%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g transform="scale(0.4)">
            <image x="0" y="0" height="5000" width="5000"  xlink:href="https://s3-eu-west-1.amazonaws.com/itarc/images/GoogleDataCenterInfrastructure.svg"/>
          </g>
        </svg-->

        <!--svg>
          <circle id="myCircle" class="important" cx="50%" cy="50%" r="100" fill="green" onmousedown="alert('hello');"/>
        </svg-->
	<!--img src="https://s3-eu-west-1.amazonaws.com/itarc/images/GoogleDataCenterInfrastructure.jpg" width="100%"-->
	<img src="https://s3-eu-west-1.amazonaws.com/itarc/images/GoogleDataCenterInfrastructure.svg" width="100%">

	</section>

      </div> 
      
      <div class="slide">

        <h1>INTRODUCTION AU CLOUD COMPUTING</h1>
        <h2>LOCALISATION DES DATACENTERS CHEZ GOOGLE</h2>

        <section>

	<img src="https://s3-eu-west-1.amazonaws.com/itarc/images/GoogleDataCentersLocation.PNG" width="100%">

	</section>

      </div> 

      <div class="slide">

        <h1>INTRODUCTION AU CLOUD COMPUTING</h1>
        <h2>UN RACK TYPIQUE</h2>

        <section>

	<img src="http://upload.wikimedia.org/wikipedia/commons/f/f5/Rack001.jpg" height="80%">

	</section>

      </div>
      
      
      <div class="slide">

        <h1>INTRODUCTION AU CLOUD COMPUTING</h1>
        <h2>L'ETHIQUE DES HACKERS</h2>

        <section>

	<img src="http://ecx.images-amazon.com/images/I/51PxyxwgXrL._SY445_.jpg" width="30%" >

	</section>

      </div>

      <div class="slide">

        <h1>INTRODUCTION AU CLOUD COMPUTING</h1>
        <h2>LA VIRTUALISATION</h2>

      </div>
      
      <div class="slide">

        <h1>INTRODUCTION AU CLOUD COMPUTING</h1>
        <h2>L'EXEMPLE D'AMAZON EC2</h2>

      </div>      
      
      <!--div class="slide">

        <h1>INTRODUCTION AU CLOUD COMPUTING</h1>
        <h2>LA PLATEFORME HEROKU</h2>

	<section>

	  <iframe src="Heroku Add-ons.html" height="80%" width="100%">
	    <p>Your browser does not support iframes.</p>
          </iframe-->
	  
	  <!--object data="Heroku Add-ons.html" width="100%" height="80%" type="text/html">
	  <p>AAA</p>
	  </object-->

	<!--/section-->	

      </div>    

      <div class="slide">

        <h1>INTRODUCTION AU CLOUD COMPUTING</h1>
        <h2>LA PLATEFORME HEROKU</h2>

	<section>

          <img src="processor.jpg" width="30%" >
          <img src="memory.jpg" width="30%" >
          <img src="harddrive.jpg" width="30%" >

	</section>	

      </div>   

      </div> <!--presentation-->

    <script src="slideshow.js"></script>
    <script src="slideshow-attendee.js"></script>
    
  </body>
</html>
