<html>
  <head>
    <link href="slideshow.css" rel="stylesheet" media="screen"/>
    <meta name='viewport' content='user-scalable=no,width=device-width' />
    <meta charset="utf8">
  </head>
  <body>
  
    <div class="presentation">

        <div class="slide" id="centered_title">
	
            <section class='centered' >
	    
              <h3>INTRODUCTION AU CLOUD COMPUTING, VECTEUR DE L'INNOVATION</h3>
              <h3>POUR INTERAGIR AVEC LA PRESENTATION, CONNECTEZ VOUS SUR :</h3>
	      <h4>http://cloud-intro.herokuapp.com</h4>
	      <h3>Actuellement : 0 connexion</h3>
	    
            </section>
	    
        </div>

        <div class="slide">
	
            <h1>INTRODUCTION AU CLOUD COMPUTING</h1>
            <h2>SONDAGE</h2>
	    
            <section>

		  <div>
		    <div class="poll_question">Etes vous déjà familier avec le "cloud computing" ?</div>
                    <input class="poll_radio" type="radio" id="poll_response_1_to_question_1" name="group_1" onclick="Slide.prototype.savePoll(this.id)"> <label for="poll_response_1_to_question_1">Oui</label>
                    <input class="poll_radio" type="radio" id="poll_response_2_to_question_1" name="group_1" onclick="Slide.prototype.savePoll(this.id)"> <label for="poll_response_2_to_question_1">Non</label>
		  </div>
		  </br>
		  <div>
		    <div class="poll_question">Etes vous dans le domaine informatique ?</div>
                    <input class="poll_radio" type="radio" id="poll_response_3_to_question_2" name="group_2" onclick="Slide.prototype.savePoll(this.id)"> <label for="poll_response_3_to_question_2">Oui</label>
                    <input class="poll_radio" type="radio" id="poll_response_4_to_question_2" name="group_2" onclick="Slide.prototype.savePoll(this.id)"> <label for="poll_response_4_to_question_2">Non</label>
		  </div>		  

            </section>

        </div>
	
        <div class="slide">

          <h1>INTRODUCTION AU CLOUD COMPUTING</h1>
	  <h2>RESULTAT DU SONDAGE</h2>

            <section>

		  <div>
		    <div class="poll_question">Etes vous déjà familier avec le "cloud computing" ?</div>
		    <div><span class="poll_response">Oui</span> <span id="poll_response_1_rate_to_question_1" class="poll_response_rate">()</span></div>
		    <div><span class="poll_response">Non</span> <span id="poll_response_2_rate_to_question_1" class="poll_response_rate">()</span>
                  </div>	
		  </br>
		  <div>
		    <div class="poll_question">Etes vous dans le domaine informatique ?</div>
		    <div><span class="poll_response">Oui</span> <span id="poll_response_3_rate_to_question_2" class="poll_response_rate">()</span></div>
		    <div><span class="poll_response">Non</span> <span id="poll_response_4_rate_to_question_2" class="poll_response_rate">()</span>
                  </div>	

            </section>
	
      </div>
      
      <div class="slide">

        <h1>INTRODUCTION AU CLOUD COMPUTING</h1>
        <h2>HISTOIRE DE L'INFORMATIQUE</h2>
	
	<section>
	<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/IBM_701_frame.jpg/800px-IBM_701_frame.jpg" width="80%">
	</section>

      </div>
      
      <div class="slide">

        <h1>INTRODUCTION AU CLOUD COMPUTING</h1>
        <h2>HISTOIRE DE L'INFORMATIQUE</h2>
	
	<section>
	<img src="http://www.thg.ru/cpu/mainframe_history/images/25.jpg" width="50%">
	</section>

      </div>      
      
      <div class="slide">

        <h1>INTRODUCTION AU CLOUD COMPUTING</h1>
        <h2>VISITE D'UN DATACENTER</h2>
	<section>
	  <video id="video" style='margin-left: 5%; background-color: none; width: 90%; height:80% ' src="https://s3-eu-west-1.amazonaws.com/itarc/videos/GoogleDataCenter.mp4" controls></video>
	</section>

      </div>  

      <div class="slide">

        <h1>INTRODUCTION AU CLOUD COMPUTING</h1>
        <h2>LOCALISATION DES DATACENTERS CHEZ GOOGLE</h2>

        <section>

	<img src="https://s3-eu-west-1.amazonaws.com/itarc/images/GoogleDataCentersLocation.PNG" width="100%">

	</section>

      </div>

      <div class="slide">

        <h1>INTRODUCTION AU CLOUD COMPUTING</h1>
        <h2>VUE SCHEMATIQUE DU DATACENTER</h2>

        <section>
	<img src="https://s3-eu-west-1.amazonaws.com/itarc/images/GoogleDataCenterInfrastructure.svg" width="100%">
	</section>

      </div> 

      <div class="slide">

        <h1>INTRODUCTION AU CLOUD COMPUTING</h1>
        <h2>LA VIRTUALISATION</h2>
	
	<section>

          <img src="processor.jpg" width="30%" >
          <img src="memory.jpg" width="30%" >
          <img src="harddrive.jpg" width="30%" >

	</section>

      </div>
      
      <div class="slide">

        <h1>INTRODUCTION AU CLOUD COMPUTING</h1>
        <h2>LE DATACENTER VIRTUALISE</h2>

        <section>
	<img src="https://s3-eu-west-1.amazonaws.com/itarc/images/InfrastructureGoogle%2BMachinesViruelles.svg" width="100%">
	</section>

      </div>
      
      <div class="slide">

        <h1>INTRODUCTION AU CLOUD COMPUTING</h1>
        <h2>L'IAAS (INFRASTRUCTURE AS A SERVICE)</h2>
	
	<section style="font-size:1em;">
	<h1> CHOSES QUE L'ON PEUT EVITER DE FAIRE : <h1>
	
	<h3>- PAS DE CLIMATISATION A PREVOIR</h3>
	<h3>- PAS DE NORMES ANTI INCENDIE A PREVOIR</h3>	
	<h3>- PAS DE CONNEXION RESEAU LOURDES A PREVOIR</h3>	
	<h3>- PAS D'ACHAT DE MACHINES PHYSIQUES (location à l'heure)</h3>
	<h3>- PAS DE CONFIGURATION DE MACHINES A FAIRE</h3>
	<h3>- PAS DE REMPLACEMENT DE MATERIEL A PREVOIR</h3>
	<h3>- PAS D'INSTALLATION DE SYSTEME D'EXPLOITATION</h3>
	<h3>- .... </h3>
	</br>
	<h3> => ON DEMARRE UNE MACHINE, ON INSTALLE NOS LOCICIELS et ON DEPLOIE NOTRE CODE</h3>
	</section>

      </div>
      
      <div class="slide">

        <h1>INTRODUCTION AU CLOUD COMPUTING</h1>
        <h2>LA PAAS (PLATEFORM AS A SERVICE)</h2>

	<section style="font-size:1em;">
	<h1> CHOSES QUE L'ON PEUT EVITER DE FAIRE : <h1>
	
	<h3>- PAS DE GESTION DE L'IAAS</h3>
	<h3>- PAS DE CONTENEUR DE SERVICES A CONFIGURER</h3>
	<h3>- PAS D'INSTALLATIONS LOGICIELLES COMPLIQUEES</h3>
	<h3>- PAS DE RECYCLAGE DES INSTANCES A GERER</h3>	
	<h3>- PAS DE LOAD BALANCING A CONFIGURER</h3>	
	<h3>- PAS DE GESTION DE SECURITE POINTUE</h3>
	<h3>- PAS DE PATCH A GERER</h3>		
	<h3>- .... </h3>
	</br>
	<h3> => ON DEMARRE UN CONTENEUR DE SERVICE ET ON DEPLOIE NOTRE CODE</h3>	
	</section>

      </div>

      <div class="slide">

        <h1>INTRODUCTION AU CLOUD COMPUTING</h1>
        <h2>LA PAAS, UN EXEMPLE : HEROKU</h2>

        <section>
	<img src="https://s3-eu-west-1.amazonaws.com/itarc/images/CurseurDesDynosHeroku-1Dynos.PNG" width="100%">
	</section>

      </div>

      <div class="slide">

        <h1>INTRODUCTION AU CLOUD COMPUTING</h1>
        <h2>LA PAAS, UN EXEMPLE : HEROKU</h2>

        <section>
	<img src="https://s3-eu-west-1.amazonaws.com/itarc/images/CurseurDesDynosHeroku-2Dynos.PNG" width="100%">
	</section>

      </div>

      <div class="slide">

        <h1>INTRODUCTION AU CLOUD COMPUTING</h1>
        <h2>LE SAAS (SOFTWARE AS A SERVICE)</h2>

	<section style="font-size:1em;">
	<h1> CHOSES QUE L'ON PEUT EVITER DE FAIRE : <h1>
	
	<h3>- PAS DE LICENCE A GERER</h3>
	<h3>- PAS DE SAUVEGARDE DES DONNES A GERER</h3>
	<h3>- PAS DE PATCH A GERER</h3>		
	<h3>- PAS DE MIGRATION A PREVOIR</h3>		
	<h3>- .... </h3>
	</br>
	<h3> => ON DEMARRE L'APPLICATION ET VOILA</h3>	
	</section>

      </div>  
      
     <div class="slide">

        <h1>INTRODUCTION AU CLOUD COMPUTING</h1>
        <h2>LES CONSEQUENCES</h2>
	
	<section style="font-size:1em;">
	
	<h3>- CHANGEMENT DE PARADIGME POUR LES DEVELOPPEURS</h3>
	<h3>- LA QUESTION DE LA SECURITE DES DONNEES</h3>
	
	</section>	

      </div>     

     <div class="slide">

        <h1>INTRODUCTION AU CLOUD COMPUTING</h1>
        <h2>LES FORMATIONS QUE JE VOUDRAIS  TESTER</h2>

	<section style="font-size:1em;">
	
	<h3>- DEPLOIEMENT CONTINUE SUR HEROKU</h3>
	<h3>- INITIATION A RUBY</h3>
	<h3>- INITIATION A RUBY/SINATRA</h3>
	<h3>- DESIGN PATTERN EN RUBY</h3>
	<h3>- LES WEB SERVICES REST</h3>
	<h3>....</h3>

	</section>
	
      </div>      

     <div class="slide">

        <h1>INTRODUCTION AU CLOUD COMPUTING</h1>
        <h2>EVALUATION</h2>
	
        <section class='centered'>

	  <h1>MERCI !</h1>
          </br>
          </br>

          <span id="stars" class="rating">
          
	    <input type="radio" class="rating-input" id="rating_input_5" name="rating-input-1" >
            <label id="rating_input_5_to_global_evaluation" for="rating_input_5" class="rating-star" onclick="Slide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-input" id="rating_input_4" name="rating-input-1" >
            <label id="rating_input_4_to_global_evaluation" for="rating_input_4" class="rating-star" onclick="Slide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-input" id="rating_input_3" name="rating-input-1" >
            <label id="rating_input_3_to_global_evaluation" for="rating_input_3" class="rating-star" onclick="Slide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-input" id="rating_input_2" name="rating-input-1" >
            <label id="rating_input_2_to_global_evaluation" for="rating_input_2" class="rating-star" onclick="Slide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-input" id="rating_input_1" name="rating-input-1">
            <label id="rating_input_1_to_global_evaluation" for="rating_input_1" class="rating-star" onclick="Slide.prototype.savePoll(this.id)">&#9733</label>
          
	  </span>			      

        </section>		

      </div>

      </div> <!--presentation-->

    <script src="slideshow.js"></script>
    <script src="slideshow-teacher.js"></script>
    
  </body>
</html>
