<?xml version="1.0" encoding="UTF-8" ?>
<Module>

<ModulePrefs title="Cloud Intro">
  <Require feature="rpc" />
</ModulePrefs>

<Content type="html"><![CDATA[

<html>
  <head>
    <link href="//cloud-intro.herokuapp.com/slideshow.css" rel="stylesheet" media="screen"/>
    <meta name='viewport' content='user-scalable=no,width=device-width' />
    <meta charset="utf8">
    <style>
      <%= STYLE %>
    </style>     
  </head>
  <body>
  
    <div class="presentation">

        <div class="slide" id="centered_title">
  
            <section class='centered' >
      
              <h3>INTRODUCTION AU CLOUD COMPUTING, VECTEUR DE L'INNOVATION</h3>
              <h3 style="color: red">POUR INTERAGIR AVEC LA PRESENTATION, CONNECTEZ VOUS SUR :</h3>
        <h4 style="color: blue; font-size: 1.5em;">http://cloud-intro.herokuapp.com</h4>
      
            </section>
      
        </div>

        

      </div> <!--presentation-->

    <!--script src="//cloud-intro.herokuapp.com/common.js"></script>    
    <script src="//cloud-intro.herokuapp.com/featureflip.js"></script>   
    <script src="//cloud-intro.herokuapp.com/slides.js"></script>
    <script src="//cloud-intro.herokuapp.com/slideshow.js"></script>

    <script>
    SERVER_PATH = '//cloud-intro.herokuapp.com'
    </script>

    <script src="//cloud-intro.herokuapp.com/slideshow-attendee.js"></script-->
    
  </body>
</html>

]]>
</Content>
</Module>