<?xml version="1.0" encoding="UTF-8" ?>
<Module>

<ModulePrefs title="Cloud Intro">
  <Require feature="rpc" />
</ModulePrefs>

<Content type="html"><![CDATA[

<html>
  <head>
  </head>
  <body>
    <h1>CLOUD INTRO</h1>
  </body>
</html>

]]>
</Content>
</Module>