.presentation {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  overflow: hidden;
  background: #555;
}

.slide {
  display: none; /* n'affiche pas le slide et n'occupe pas la place sur l'écran (contrairement à visibility) */
  position: absolute; /* la position du bloc est calculée à partir de la position de l'élémént parent */
  left: 5%; /* décalage à gauche par rapport à la position (absolute) */
  top: 5%; /* décalage en haut par rapport à la position (absolute) */
  overflow: auto; /* gère l'apparition des scrollbar dans le bloc */
  width: 90%; /* 900px; /* largeur du bloc de texte*/
  height: 90%; /*700px; /* hauteur du bloc de texte */
  background-color: #000; /* couleur de fond */
  /* border-radius: 15px; /* crée un coin arrondi */
  /* background: -webkit-gradient(linear, left bottom, left top, from(#ccc), to(#eee)); /* crée un dégradé sur chrome */
  /* -webkit-transition: margin 0.5s ease-in-out; /* crée un effet de transition sur chrome */
}

.slide.previous {	
  visibility: hidden;
  display: block; /* doit être présent sinon display = none ce cache l'élément même si visibility = visible */
  margin-left: -100%; /*-500px;*/
}

.slide.current {
  visibility: visible;
  display: block;
  margin-left: 0px;
}

.slide.next {	
  visibility: hidden;
  display: block; /* important pour l'effet de transition */
  margin-left: 100%; /*500px;*/
}

/* -------------- Sections (General) ------------ */

section {	
  color: #ff00ff; /* text color */
  margin: 5%;
  overflow: hidden; /* Empécher l'affichage des scrollBar */
  font-size: 2em;
}

section.centered {
  text-align: center;
}

section.validate {
  text-align: right;
}

/* -------------- Headers ------------ */

div.slide > h1 {
  color: #ff00ff;
  margin: 1%; 
  font-size: 2em;
  text-align: left;
}

div.slide > h2 {
  color: #ff00ff;
  margin: 1%; 
  font-size: 2em;
  text-align: left;
  background-color: #ffffaa;
}

/* -------------- Input (General) ------------ */

input[type=text] {
  font-size: 1em;
}

input[type=button] {
  font-size: 1em;
}

input[type=button]:hover {
  background-color:#d0d0d0;
}

/* -------------- Coding ------------ */

textarea.code {
  display:block;
  font-size:0.5em;
  width:100%; 
  height:40%;
}

textarea.code_result {
  display:block;	
  font-size:0.5em;
  width:100%; 
  height:20%;
}

textarea + input[type=button] {
  width:100%; 
}

/* -------------- Poll ------------ */

input[type=radio].poll_radio {
  display:none;
}

input[type=radio].poll_radio + label {
  display:block;
  margin-left:3%;
}

input[type=radio].poll_radio + label:hover {
  background-color: #e7e7e7;
  background: -webkit-gradient(linear, left bottom, left top, from(#aaa), to(#eee));
}

input[type=radio].poll_radio:checked + label { 
  background-image: none;
  background-color:#d0d0d0;
}

.poll_question { 
  margin-top:1%;
}

.poll_response { 
  margin-left:3%;	
}

.poll_response_rate { 
  color:green;
  font-weight:bold;
}

/* -------------- Rating ------------ */

section.evaluate {
  margin: 1%; 
  font-size: 4.5em;
  text-align: left;
}

span.rating {
  overflow: hidden;
  display: inline-block;
}

input.rating-input {
  position: absolute;
  left: 0;
  top: -50px;
}

span.rating:hover label.rating-star:hover,
span.rating:hover label.rating-star:hover ~ .rating-star,
input.rating-input:checked ~ label.rating-star {  
  color: gold;
}

label.rating-star,
span.rating:hover label.rating-star {
  color:grey;		
  float: right;
  display: block;
}

/* -------------- Select ------------ */

input.select-input {
  position: absolute;
  left: 0;
  top: -50px;
}


label.select-star:hover {
    color: gold;
}

input.select-input:checked + label.select-star:hover {
    color: #ff00ff;
}

input.select-input:checked + label.select-star  {
    color: gold;
}


video {
  margin-left: 5%; 
  background-color: none; 
  width: 90%; 
  height:80%
}

/* -------------- Charts ------------ */

canvas {
  display: block;
  margin: 0 auto;
}