<html>
  <head>
    <link href="slideshow.css" rel="stylesheet" media="screen"/>
    <meta name='viewport' content='user-scalable=no,width=device-width' />
    <meta charset="utf8">
  </head>
  <body>
  
    <div class="presentation">

        <div class="slide" id="centered_title">
	
            <section class='centered' >
	    
              <h3>INTRODUCTION AU CLOUD COMPUTING, VECTEUR DE L'INNOVATION</h3>
              <h3 style="color: red">POUR INTERAGIR AVEC LA PRESENTATION, CONNECTEZ VOUS SUR :</h3>
	      <h4 style="color: blue; font-size: 1.5em;">http://cloud-intro.herokuapp.com</h4>
	    
            </section>
	    
        </div>

        <div class="slide">
	
            <h1>INTRODUCTION AU CLOUD COMPUTING</h1>
            <h2>SONDAGE</h2>
	    
            <section>

		  <div id="question_1">
		    <div class="poll_question">Etes vous déjà familier avec le "cloud computing" ?</div>
                    <input class="poll_response" type="radio" id="poll_response_1_to_question_1" name="group_1" onclick="PollSlide.prototype.savePoll(this.id)"> 
		    <label class="poll_response"for="poll_response_1_to_question_1">Oui</label>
                    <input class="poll_response" type="radio" id="poll_response_2_to_question_1" name="group_1" onclick="PollSlide.prototype.savePoll(this.id)"> 
		    <label class="poll_response" for="poll_response_2_to_question_1">Non</label>
		  </div>
		  </br>
		  <div id="question_2">
		    <div class="poll_question">Etes vous dans le domaine informatique ?</div>
                    <input class="poll_response" type="radio" id="poll_response_3_to_question_2" name="group_2" onclick="PollSlide.prototype.savePoll(this.id)"> 
		    <label class="poll_response" for="poll_response_3_to_question_2">Oui</label>
                    <input class="poll_response" type="radio" id="poll_response_4_to_question_2" name="group_2" onclick="PollSlide.prototype.savePoll(this.id)"> 
		    <label class="poll_response" for="poll_response_4_to_question_2">Non</label>
		  </div>		  

            </section>

        </div>
	
        <div class="slide">

          <h1>INTRODUCTION AU CLOUD COMPUTING</h1>
	  <h2>RESULTAT DU SONDAGE</h2>

            <section>

		  <div id="result_1">
		    <div class="poll_question">Etes vous déjà familier avec le "cloud computing" ?</div>
		    <div>
		      <span class="poll_response">Oui</span> 
		      <span id="poll_response_1_rate_to_question_1" class="poll_response_rate">()</span>
		    </div>
		    <div>
		      <span class="poll_response">Non</span> 
		      <span id="poll_response_2_rate_to_question_1" class="poll_response_rate">()</span>
		    </div>
                  </div>	
		  </br>
		  <div id="result_2">
		    <div class="poll_question">Etes vous dans le domaine informatique ?</div>
		    <div>
		      <span class="poll_response">Oui</span> 
		      <span id="poll_response_3_rate_to_question_2" class="poll_response_rate">()</span>
		      </div>
		    <div>
		      <span class="poll_response">Non</span> 
		      <span id="poll_response_4_rate_to_question_2" class="poll_response_rate">()</span>
		    </div>
                  </div>	

            </section>
	
      </div>
      
      <div class="slide">

        <h1>INTRODUCTION AU CLOUD COMPUTING</h1>
        <h2>HISTOIRE DE L'INFORMATIQUE</h2>
	
	<span class="rating-stars">
	    <input type="radio" class="rating-radio" id="star-4-5" name="rating-input-1" >
            <label id="rating_input_5_to_slide_4_evaluation" for="star-4-5" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-4-4" name="rating-input-1" >
            <label id="rating_input_4_to_slide_4_evaluation" for="star-4-4" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-4-3" name="rating-input-1" >
            <label id="rating_input_3_to_slide_4_evaluation" for="star-4-3" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-4-2" name="rating-input-1" >
            <label id="rating_input_2_to_slide_4_evaluation" for="star-4-2" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-4-1" name="rating-input-1">
            <label id="rating_input_1_to_slide_4_evaluation" for="star-4-1" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
         </span> 
	
	<section>
	<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/IBM_701_frame.jpg/800px-IBM_701_frame.jpg" width="80%">
	</section>

      </div>
      
      <div class="slide">

        <h1>INTRODUCTION AU CLOUD COMPUTING</h1>
        <h2>HISTOIRE DE L'INFORMATIQUE</h2>

	<span class="rating-stars">
	    <input type="radio" class="rating-radio" id="star-5-5" name="rating-input-1" >
            <label id="rating_input_5_to_slide_5_evaluation" for="star-5-5" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-5-4" name="rating-input-1" >
            <label id="rating_input_4_to_slide_5_evaluation" for="star-5-4" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-5-3" name="rating-input-1" >
            <label id="rating_input_3_to_slide_5_evaluation" for="star-5-3" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-5-2" name="rating-input-1" >
            <label id="rating_input_2_to_slide_5_evaluation" for="star-5-2" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-5-1" name="rating-input-1">
            <label id="rating_input_1_to_slide_5_evaluation" for="star-5-1" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
         </span>
	
	<section>
	<img src="https://s3-eu-west-1.amazonaws.com/itarc/images/Z10.jpg" width="80%">
	</section>

      </div>      

      <div class="slide">

        <h1>INTRODUCTION AU CLOUD COMPUTING</h1>
        <h2>HISTOIRE DE GOOGLE</h2>

	<span class="rating-stars">
	    <input type="radio" class="rating-radio" id="star-6-5" name="rating-input-1" >
            <label id="rating_input_5_to_slide_6_evaluation" for="star-6-5" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-6-4" name="rating-input-1" >
            <label id="rating_input_4_to_slide_6_evaluation" for="star-6-4" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-6-3" name="rating-input-1" >
            <label id="rating_input_3_to_slide_6_evaluation" for="star-6-3" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-6-2" name="rating-input-1" >
            <label id="rating_input_2_to_slide_6_evaluation" for="star-6-2" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-6-1" name="rating-input-1">
            <label id="rating_input_1_to_slide_6_evaluation" for="star-6-1" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
         </span>
	
	<section>
	</br>
	</br>
	<img src="https://s3-eu-west-1.amazonaws.com/itarc/images/TheAnatomyOfALargeScaleHypertextualWebSearchEngine.PNG" width="100%">
	</section>

      </div>
      
      <div class="slide">

        <h1>INTRODUCTION AU CLOUD COMPUTING</h1>
        <h2>VISITE D'UN DATACENTER</h2>
	
	<span class="rating-stars">
	    <input type="radio" class="rating-radio" id="star-7-5" name="rating-input-1" >
            <label id="rating_input_5_to_slide_7_evaluation" for="star-7-5" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-7-4" name="rating-input-1" >
            <label id="rating_input_4_to_slide_7_evaluation" for="star-7-4" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-7-3" name="rating-input-1" >
            <label id="rating_input_3_to_slide_7_evaluation" for="star-7-3" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-7-2" name="rating-input-1" >
            <label id="rating_input_2_to_slide_7_evaluation" for="star-7-2" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-7-1" name="rating-input-1">
            <label id="rating_input_1_to_slide_7_evaluation" for="star-7-1" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
         </span>
	
	<section>
	  <video id="video" style='margin-left: 5%; background-color: none; width: 90%; height:80% ' src="https://s3-eu-west-1.amazonaws.com/itarc/videos/GoogleDataCenter.mp4" controls></video>
	</section>

      </div>  

      <div class="slide">

        <h1>INTRODUCTION AU CLOUD COMPUTING</h1>
        <h2>LES DATACENTERS DANS LE MONDE</h2>
	
	<span class="rating-stars">
	    <input type="radio" class="rating-radio" id="star-8-5" name="rating-input-1" >
            <label id="rating_input_5_to_slide_8_evaluation" for="star-8-5" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-8-4" name="rating-input-1" >
            <label id="rating_input_4_to_slide_8_evaluation" for="star-8-4" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-8-3" name="rating-input-1" >
            <label id="rating_input_3_to_slide_8_evaluation" for="star-8-3" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-8-2" name="rating-input-1" >
            <label id="rating_input_2_to_slide_8_evaluation" for="star-8-2" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-8-1" name="rating-input-1">
            <label id="rating_input_1_to_slide_8_evaluation" for="star-8-1" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
         </span>	

        <section>

	<img src="https://s3-eu-west-1.amazonaws.com/itarc/images/datacenters-dans-le-monde.png" width="100%">

	</section>

      </div>

      <div class="slide">

        <h1>INTRODUCTION AU CLOUD COMPUTING</h1>
        <h2>VUE SCHEMATIQUE D'UN DATACENTER</h2>
	
	<span class="rating-stars">
	    <input type="radio" class="rating-radio" id="star-9-5" name="rating-input-1" >
            <label id="rating_input_5_to_slide_9_evaluation" for="star-9-5" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-9-4" name="rating-input-1" >
            <label id="rating_input_4_to_slide_9_evaluation" for="star-9-4" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-9-3" name="rating-input-1" >
            <label id="rating_input_3_to_slide_9_evaluation" for="star-9-3" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-9-2" name="rating-input-1" >
            <label id="rating_input_2_to_slide_9_evaluation" for="star-9-2" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-9-1" name="rating-input-1">
            <label id="rating_input_1_to_slide_9_evaluation" for="star-9-1" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
         </span>	

        <section>
	<img src="https://s3-eu-west-1.amazonaws.com/itarc/images/GoogleDataCenterInfrastructure.svg" width="100%">
	</section>

      </div> 

      <div class="slide">

        <h1>INTRODUCTION AU CLOUD COMPUTING</h1>
        <h2>LA VIRTUALISATION</h2>
	
	<span class="rating-stars">
	    <input type="radio" class="rating-radio" id="star-10-5" name="rating-input-1" >
            <label id="rating_input_5_to_slide_10_evaluation" for="star-10-5" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-10-4" name="rating-input-1" >
            <label id="rating_input_4_to_slide_10_evaluation" for="star-10-4" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-10-3" name="rating-input-1" >
            <label id="rating_input_3_to_slide_10_evaluation" for="star-10-3" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-10-2" name="rating-input-1" >
            <label id="rating_input_2_to_slide_10_evaluation" for="star-10-2" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-10-1" name="rating-input-1">
            <label id="rating_input_1_to_slide_10_evaluation" for="star-10-1" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
         </span>	
	
	<section>

          <img src="https://s3-eu-west-1.amazonaws.com/itarc/images/WindowsSurUnMac.png" width="80%" height="55%">
	  </br>
	  </br>
          <img src="https://s3-eu-west-1.amazonaws.com/itarc/images/ProcesseurMemoireEtDisqueDur.jpg" width="80%" height="15%">

	</section>

      </div>
      
      <div class="slide">

        <h1>INTRODUCTION AU CLOUD COMPUTING</h1>
        <h2>LE DATACENTER VIRTUALISE</h2>
	
	<span class="rating-stars">
	    <input type="radio" class="rating-radio" id="star-11-5" name="rating-input-1" >
            <label id="rating_input_5_to_slide_11_evaluation" for="star-11-5" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-11-4" name="rating-input-1" >
            <label id="rating_input_4_to_slide_11_evaluation" for="star-11-4" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-11-3" name="rating-input-1" >
            <label id="rating_input_3_to_slide_11_evaluation" for="star-11-3" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-11-2" name="rating-input-1" >
            <label id="rating_input_2_to_slide_11_evaluation" for="star-11-2" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-11-1" name="rating-input-1">
            <label id="rating_input_1_to_slide_11_evaluation" for="star-11-1" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
         </span>	

        <section>
	<img src="https://s3-eu-west-1.amazonaws.com/itarc/images/InfrastructureGoogle%2BMachinesViruelles.svg" width="100%">
	</section>

      </div>
      
      <div class="slide">

        <h1>INTRODUCTION AU CLOUD COMPUTING</h1>
        <h2>UNE FACTURE CHEZ AMAZON</h2>
	
	<span class="rating-stars">
	    <input type="radio" class="rating-radio" id="star-12-5" name="rating-input-1" >
            <label id="rating_input_5_to_slide_12_evaluation" for="star-12-5" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-12-4" name="rating-input-1" >
            <label id="rating_input_4_to_slide_12_evaluation" for="star-12-4" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-12-3" name="rating-input-1" >
            <label id="rating_input_3_to_slide_12_evaluation" for="star-12-3" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-12-2" name="rating-input-1" >
            <label id="rating_input_2_to_slide_12_evaluation" for="star-12-2" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-12-1" name="rating-input-1">
            <label id="rating_input_1_to_slide_12_evaluation" for="star-12-1" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
         </span>	

        <section>
	<img src="https://s3-eu-west-1.amazonaws.com/itarc/images/AWS-Bill.PNG" width="100%">
	</section>

      </div>      
      
      <div class="slide">

        <h1>INTRODUCTION AU CLOUD COMPUTING</h1>
        <h2>L'IAAS (INFRASTRUCTURE AS A SERVICE)</h2>
	
	<span class="rating-stars">
	    <input type="radio" class="rating-radio" id="star-13-5" name="rating-input-1" >
            <label id="rating_input_5_to_slide_13_evaluation" for="star-13-5" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-13-4" name="rating-input-1" >
            <label id="rating_input_4_to_slide_13_evaluation" for="star-13-4" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-13-3" name="rating-input-1" >
            <label id="rating_input_3_to_slide_13_evaluation" for="star-13-3" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-13-2" name="rating-input-1" >
            <label id="rating_input_2_to_slide_13_evaluation" for="star-13-2" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-13-1" name="rating-input-1">
            <label id="rating_input_1_to_slide_13_evaluation" for="star-13-1" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
         </span>	
	
	<section style="font-size:1em;">
	<h1> LISTE DES CHOSES QUE L'ON PEUT EVITER DE FAIRE : <h1>
	
	<h3>- PAS DE CLIMATISATION A PREVOIR</h3>
	<h3>- PAS DE NORMES ANTI INCENDIE A PREVOIR</h3>	
	<h3>- PAS DE CONNEXIONS RESEAUX LOURDES A PREVOIR</h3>	
	<h3>- PAS D'ACHAT DE MACHINES PHYSIQUES (location à l'heure)</h3>
	<h3>- PAS DE CONFIGURATION DE MACHINES A FAIRE</h3>
	<h3>- PAS DE REMPLACEMENT DE MATERIEL A PREVOIR</h3>
	<h3>- PAS D'INSTALLATION DE SYSTEME D'EXPLOITATION</h3>
	<h3>- .... </h3>
	</section>

      </div>
      
      <div class="slide">

        <h1>INTRODUCTION AU CLOUD COMPUTING</h1>
        <h2>LA PAAS (PLATEFORM AS A SERVICE)</h2>
	
	<span class="rating-stars">
	    <input type="radio" class="rating-radio" id="star-14-5" name="rating-input-1" >
            <label id="rating_input_5_to_slide_14_evaluation" for="star-14-5" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-14-4" name="rating-input-1" >
            <label id="rating_input_4_to_slide_14_evaluation" for="star-14-4" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-14-3" name="rating-input-1" >
            <label id="rating_input_3_to_slide_14_evaluation" for="star-14-3" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-14-2" name="rating-input-1" >
            <label id="rating_input_2_to_slide_14_evaluation" for="star-14-2" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-14-1" name="rating-input-1">
            <label id="rating_input_1_to_slide_14_evaluation" for="star-14-1" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
         </span>	

	<section style="font-size:1em;">
	<h1> LISTE DES CHOSES QUE L'ON PEUT EVITER DE FAIRE : <h1>
	
	<h3>- PAS DE GESTION DE L'IAAS</h3>
	<h3>- PAS DE CONTENEUR DE SERVICES A CONFIGURER</h3>
	<h3>- PAS D'INSTALLATIONS LOGICIELLES COMPLIQUEES</h3>
	<h3>- PAS DE RECYCLAGE DES MACHINES VIRTUELLES A GERER</h3>	
	<h3>- PAS DE LOAD BALANCING A CONFIGURER</h3>	
	<h3>- PAS DE PATCH A GERER</h3>		
	<h3>- .... </h3>
	</section>

      </div>

      <div class="slide">

        <h1>INTRODUCTION AU CLOUD COMPUTING</h1>
        <h2>LA PAAS, UN EXEMPLE : HEROKU</h2>
	
	<span class="rating-stars">
	    <input type="radio" class="rating-radio" id="star-15-5" name="rating-input-1" >
            <label id="rating_input_5_to_slide_15_evaluation" for="star-15-5" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-15-4" name="rating-input-1" >
            <label id="rating_input_4_to_slide_15_evaluation" for="star-15-4" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-15-3" name="rating-input-1" >
            <label id="rating_input_3_to_slide_15_evaluation" for="star-15-3" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-15-2" name="rating-input-1" >
            <label id="rating_input_2_to_slide_15_evaluation" for="star-15-2" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-15-1" name="rating-input-1">
            <label id="rating_input_1_to_slide_15_evaluation" for="star-15-1" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
         </span>	

        <section>
	<img src="https://s3-eu-west-1.amazonaws.com/itarc/images/CurseurDesDynosHeroku-1Dynos.PNG" width="100%">
	</section>

      </div>

      <div class="slide">

        <h1>INTRODUCTION AU CLOUD COMPUTING</h1>
        <h2>LA PAAS, UN EXEMPLE : HEROKU</h2>
	
	<span class="rating-stars">
	    <input type="radio" class="rating-radio" id="star-16-5" name="rating-input-1" >
            <label id="rating_input_5_to_slide_16_evaluation" for="star-16-5" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-16-4" name="rating-input-1" >
            <label id="rating_input_4_to_slide_16_evaluation" for="star-16-4" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-16-3" name="rating-input-1" >
            <label id="rating_input_3_to_slide_16_evaluation" for="star-16-3" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-16-2" name="rating-input-1" >
            <label id="rating_input_2_to_slide_16_evaluation" for="star-16-2" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-16-1" name="rating-input-1">
            <label id="rating_input_1_to_slide_16_evaluation" for="star-16-1" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
         </span>	

        <section>
	<img src="https://s3-eu-west-1.amazonaws.com/itarc/images/CurseurDesDynosHeroku-2Dynos.PNG" width="100%">
	</section>

      </div>

      <div class="slide">

        <h1>INTRODUCTION AU CLOUD COMPUTING</h1>
        <h2>LE SAAS (SOFTWARE AS A SERVICE)</h2>
	
	<span class="rating-stars">
	    <input type="radio" class="rating-radio" id="star-17-5" name="rating-input-1" >
            <label id="rating_input_5_to_slide_17_evaluation" for="star-17-5" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-17-4" name="rating-input-1" >
            <label id="rating_input_4_to_slide_17_evaluation" for="star-17-4" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-17-3" name="rating-input-1" >
            <label id="rating_input_3_to_slide_17_evaluation" for="star-17-3" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-17-2" name="rating-input-1" >
            <label id="rating_input_2_to_slide_17_evaluation" for="star-17-2" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-17-1" name="rating-input-1">
            <label id="rating_input_1_to_slide_17_evaluation" for="star-17-1" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
         </span>	

	<section style="font-size:1em;">
	<h1> LISTE DES CHOSES QUE L'ON PEUT EVITER DE FAIRE : <h1>
	
	<h3>- PAS DE LICENCE A GERER</h3>
	<h3>- PAS DE SAUVEGARDE DES DONNES A GERER</h3>	
	<h3>- PAS DE MIGRATION DE VERSION A PREVOIR</h3>		
	<h3>- .... </h3>	
	</section>

      </div>  
      
     <div class="slide">

        <h1>INTRODUCTION AU CLOUD COMPUTING</h1>
        <h2>LES CONSEQUENCES</h2>

	<span class="rating-stars">
	    <input type="radio" class="rating-radio" id="star-18-5" name="rating-input-1" >
            <label id="rating_input_5_to_slide_18_evaluation" for="star-18-5" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-18-4" name="rating-input-1" >
            <label id="rating_input_4_to_slide_18_evaluation" for="star-18-4" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-18-3" name="rating-input-1" >
            <label id="rating_input_3_to_slide_18_evaluation" for="star-18-3" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-18-2" name="rating-input-1" >
            <label id="rating_input_2_to_slide_18_evaluation" for="star-18-2" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-18-1" name="rating-input-1">
            <label id="rating_input_1_to_slide_18_evaluation" for="star-18-1" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
         </span>
	
	<section style="font-size:1em;">

	<h3>- LE FAIBLE COUT DE L'INNOVATION</h3>
	<h3>- LE CHANGEMENT DE PARADIGME POUR LES DEVELOPPEURS</h3>
	<h3>- LE CHANGEMENT DANS LES METHODES DE TRAVAIL</h3>
	<h3>- LE "BIGDATA" ACCESSIBLE A TOUS</h3>	
	<h3>- ....</h3>

	</section>	

      </div>    

     <div class="slide">

        <h1>INTRODUCTION AU CLOUD COMPUTING</h1>
        <h2>LES FREINS</h2>
	
	<span class="rating-stars">
	    <input type="radio" class="rating-radio" id="star-19-5" name="rating-input-1" >
            <label id="rating_input_5_to_slide_19_evaluation" for="star-19-5" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-19-4" name="rating-input-1" >
            <label id="rating_input_4_to_slide_19_evaluation" for="star-19-4" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-19-3" name="rating-input-1" >
            <label id="rating_input_3_to_slide_19_evaluation" for="star-19-3" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-19-2" name="rating-input-1" >
            <label id="rating_input_2_to_slide_19_evaluation" for="star-19-2" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-19-1" name="rating-input-1">
            <label id="rating_input_1_to_slide_19_evaluation" for="star-19-1" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
         </span>	
	
	<section style="font-size:1em;">
	
	<h3>- LA QUESTION DE LA SECURITE DES DONNEES</h3>
	<h3>- LA DEPENDANCE VIS A VIS DES PLATEFORMES</h3>
	<h3>- LA COMPLEXITE</h3>
	<h3>- LA RESISTANCE AU CHANGEMENT</h3>
	
	</section>	

      </div>

     <div class="slide">

        <h1>INTRODUCTION AU CLOUD COMPUTING</h1>
        <h2>DES FORMATIONS QUE JE VOUDRAIS TESTER</h2>

	<section style="font-size:1em;">

	</br>
	INITIATION A LA PROGRAMMATION
	</br>
	<h3>- INITIATION A LA PROGAMMATION PROCEDURALE
	<input type="checkbox" class="select-input" id="selection-1-1" name="rating-input-1" >
	<label id="select_input_1_to_proposition_1" for="selection-1-1" class="select-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>	
	</h3>	
	<h3>- INITIATION A LA PROGAMMATION ORIENTEE OBJET
	<input type="checkbox" class="select-input" id="selection-1-2" name="rating-input-1" >
	<label id="select_input_1_to_proposition_2" for="selection-1-2" class="select-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>	
	</h3>
	<h3>- INITIATION A LA PROGAMMATION FONCTIONNELLE
	<input type="checkbox" class="select-input" id="selection-1-3" name="rating-input-1" >
	<label id="select_input_1_to_proposition_3" for="selection-1-3" class="select-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>	
	</h3>	
	</br>
	CREATION D'UNE APPLICATION WEB
	</br>
	<h3>- LE LANGAGE RUBY
	<input type="checkbox" class="select-input" id="selection-1-4" name="rating-input-1" >
	<label id="select_input_1_to_proposition_4" for="selection-1-4" class="select-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>	
	</h3>
	<h3>- LE FRAMEWORK RAILS
	<input type="checkbox" class="select-input" id="selection-1-5" name="rating-input-1" >
	<label id="select_input_1_to_proposition_5" for="selection-1-5" class="select-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>	
	</h3>
	<h3>- LE DSL (DOMAIN SPECIFIC LANGUAGE) SINATRA
	<input type="checkbox" class="select-input" id="selection-1-6" name="rating-input-1" >
	<label id="select_input_1_to_proposition_6" for="selection-1-6" class="select-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>	
	</h3>	
	<h3>- DEVELOPPER UNE APPLICATION WEB AVEC RUBY/SINATRA/HTML5
	<input type="checkbox" class="select-input" id="selection-1-7" name="rating-input-1" >
	<label id="select_input_1_to_proposition_7" for="selection-1-7" class="select-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>	
	</h3>
	</br>	
	ARCHITECTURE WEB
	</br>	
	<h3>- LES SERVICES WEB REST
	<input type="checkbox" class="select-input" id="selection-1-8" name="rating-input-1" >
	<label id="select_input_1_to_proposition_8" for="selection-1-8" class="select-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>	
	</h3>
	</br>	
	BASES DE DONNEES
	</br>		
	<h3>- LES BASES DE DONNEES NoSQL
	<input type="checkbox" class="select-input" id="selection-1-9" name="rating-input-1" >
	<label id="select_input_1_to_proposition_9" for="selection-1-9" class="select-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>	
	</h3>
	</br>	
	LES PLATEFORMES DE DEVELOPPEMENT "CLOUD"
	</br>
	<h3>- L'IAAS AMAZON WEB SERVICES (EC2, S3, ...) 
	<input type="checkbox" class="select-input" id="selection-1-10" name="rating-input-1" >
	<label id="select_input_1_to_proposition_10" for="selection-1-10" class="select-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>	
	</h3>
	<h3>- LA PAAS GOOGLE APP ENGINE
	<input type="checkbox" class="select-input" id="selection-1-11" name="rating-input-1" >
	<label id="select_input_1_to_proposition_11" for="selection-1-11" class="select-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>	
	</h3>	
	<h3>- LA PAAS HEROKU
	<input type="checkbox" class="select-input" id="selection-1-12" name="rating-input-1" >
	<label id="select_input_1_to_proposition_12" for="selection-1-12" class="select-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>	
	</h3>	
	</br>	
	LES TECHNIQUES DE DEVELOPPEMENT
	</br>	
	<h3>- LE TDD (Test Driven Development)
	<input type="checkbox" class="select-input" id="selection-1-13" name="rating-input-1" >
	<label id="select_input_1_to_proposition_13" for="selection-1-13" class="select-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>	
	</h3>
	<h3>- LE BDD (Behavior Driven Development)
	<input type="checkbox" class="select-input" id="selection-1-14" name="rating-input-1" >
	<label id="select_input_1_to_proposition_14" for="selection-1-14" class="select-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>	
	</h3>		
	<h3>- LE DEPLOIEMENT CONTINU
	<input type="checkbox" class="select-input" id="selection-1-15" name="rating-input-1" >
	<label id="select_input_1_to_proposition_15" for="selection-1-15" class="select-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
	</h3>

	</section>
	
      </div>      

     <div class="slide">

        <h1>INTRODUCTION AU CLOUD COMPUTING</h1>
        <h2>EVALUATION</h2>
	
        <section class='centered'>

	  <h1>MERCI !</h1>
          </br>
          </br>

          <span class="rating-stars" style="margin: 0">
          
	    <input type="radio" class="rating-radio" id="star-21-5" name="rating-input-1" >
            <label id="rating_input_5_to_global_evaluation" for="star-21-5" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-21-4" name="rating-input-1" >
            <label id="rating_input_4_to_global_evaluation" for="star-21-4" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-21-3" name="rating-input-1" >
            <label id="rating_input_3_to_global_evaluation" for="star-21-3" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-21-2" name="rating-input-1" >
            <label id="rating_input_2_to_global_evaluation" for="star-21-2" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
            <input type="radio" class="rating-radio" id="star-21-1" name="rating-input-1">
            <label id="rating_input_1_to_global_evaluation" for="star-21-1" class="rating-star" onclick="PollSlide.prototype.savePoll(this.id)">&#9733</label>
          
	  </span>			      

        </section>		

      </div>

      </div> <!--presentation-->

    <script src="slideshow.js"></script>
    <script src="slideshow-teacher.js"></script>
    
  </body>
</html>
